@charset "UTF-8";

* {
    padding: 0;
    border: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    --background-color: #F53129;
    --background-color-dias: #C24C48;
}

body {
    background-color: var(--background-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    margin: 10px;
    padding: 10px 30px 15px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Handlee', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.815);
    margin-top: 3px;
}

.bloco-de-dias {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.separar-imagem {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.imagem {
    height: 63px;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#coracao {
    display: flex;
    height: 150px;
    height: 150px;
}

.dias {
    background-color: var(--background-color-dias);
    width: 100px;
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.548);
    border-radius: 15px;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 24px;
    font-family: 'Leckerli One', cursive;
}

.dias:hover {
    cursor: pointer;
    background-color: #901814;
}

p {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    text-align: center;
}

.card-mensagens {
    background-color: #fff;
    margin: 10px;
    padding: 10px 30px 15px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagem-dia {
    width: 250px;
    height: 265px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mensagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-color-dias);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.548);
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    margin: 15px;
}

.voltar-para-inicio {
    background-color: var(--background-color-dias);
    width: 50px;
    padding: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.548);
    border-radius: 15px;
    margin: 5px;
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.voltar-para-inicio  > a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    font-family: 'Leckerli One', cursive;
}

.dia-7 {
    margin-top: 250px;
}

.nosso-dia {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

@media screen and (max-width: 400px) {


    .card {
        padding: 2px 15px 8px 5px;
    }

    .imagem {
        height: 50px;
        width: 226px;
    }

    .dias {
        background-color: var(--background-color-dias);
        width: 75px;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.548);
        border-radius: 15px;
        margin: 2px;
    }

    h1 {
        font-size: 35px;
        margin-top: 3px;
    }

    p {
        margin-top: 5px;
        font-size: 16px; 
    }

}